{% extends 'webportal/base.html' %}
{% load static %}
{% block hero %}
<div class="px-4 py-5 mb-5 text-center bg-custom-green text-custom-white">
    <h1 class="display-5 fw-bold">Reset database</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-2">
            WARNING: This change cannot be reverted! Are you absolutely sure you want to do this?
        </p>
    </div>
</div>
{% endblock hero %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row text-custom-green pb-4">
                    <div class="col-md-6 text-md-end">
                        <p class="fs-4">password</p>
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control form-custom-input" name="password" required>
                    </div>
                </div>
                <div class="row text-custom-green pb-4">
                    <div class="col-md-6 offset-md-6">
                        <button type="submit" class="btn btn-lg btn-custom-red rounded-pill">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}